.patientInfoCardContainer {
    .patientName {
        color: #003b5c;
        font-weight: bold;
    }

    .admissionStatus {
        color: #749f79;
    }

    ion-card {
        cursor: pointer;
    }
}
