.patientDemographics {
    ion-col {
        min-width: 150px;
        font-size: 16px;

        div {
            padding: 5px;
        }

        div:nth-child(1) {
            color: #003b5c;
            font-weight: bold;
        }
    }

    .item-background-color {
        --ion-item-background: #003b5c;
        color: white !important;
    }
    .item-background-color:hover {
        --ion-item-background: #003b5c;
        color: white;
    }
}
