ion-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        max-width: 500px;
        min-width: 350px;
        margin: auto;
        margin-top: 30px;
    }

    .loginWrapper {
        display: flex;
        justify-content: center;
    }

    .pointer {
        cursor: pointer;
        color: #003b5c;
        margin-top: 4px;
    }
}
