ion-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-item {
    &.patientItem {
        margin-bottom: 0.2em;
    }

    cursor: pointer;
}

ion-item:hover {
    background-color: red;
}
